
* {
    margin:0;

}

p{
    margin:0;
}

body{
    position:relative;
}

html,body{
    height:100%;
    width: 100%;
}


.navbar{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding: 2rem;
}

.navbar-brand{
    font-size:1.725rem;
    position: absolute;
    top:2rem;
    left: 50%;
    margin-left: -110px !important;  /* 50% of your logo width */
    display: block; 
    letter-spacing: 0.175em;
    
}

.nav-link{
    font-size:0.8rem;
}

.navbar-toggler-icon{ 
    width: 2.5rem;
    height: 3rem;
    background-size: 150% 150%;
}

.navbar-nav{
    margin-left:2rem;
    margin-top:0.5rem;  
}



a:active,
a:hover
{
    text-decoration: underline;
    color:#71976B;
}

nav a{
    text-decoration: none;
    margin:0 1rem;
}

.about{
    text-align: center;
    margin: 4rem;
}

.myself{
    display:block;
    width:22%;
    margin: 3rem auto;
}

.about p{
    display: inline-block;
    width:540px;
    font-family:'Lato', sans-serif;
    line-height: 2rem;
    font-size: 1.2rem;
}

.resume{
    display:block;
    font-family:'Lato', sans-serif;
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color:rgb(44, 155, 27);
}



#intro{
    display:block;
    text-align: center;
    font-family:'Lato', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    color:black;
    margin:20vh auto;

    margin-bottom:22vh
}

.tagline{
    display: inline-block;
    width:700px;
}





.flex-box-wrap{
    display:flex;
    flex-wrap:wrap;
}


#sectTwo{
    height: 135%;
    position: relative;   
}


.footer{
    height:10%;
    background-color: rgba(1,1,1,0);
    text-align: center;
    color:rgba(1, 1, 1, 0.521);
}

.footer p{
    margin-top:3rem; 

}


#projects{
    margin: 0 5rem;
}

.img-project{
    max-width: 640px;
}


@media only screen
and (min-device-width : 375px)
and (max-device-width : 736px) {

    .navbar{
        padding:2.5rem 2rem;
    }


    .navbar-brand{
        font-size:3.2rem;
        margin-left: -175px !important;
    }

    .nav-link{
        font-size: 2.2rem;
        margin-bottom:2rem 
    }

    .navbar-nav{
        margin: 5rem 0;
    }

    nav a{
        margin:0 auto;
    }

    .img-project{
        margin-left:4rem; 
        max-width:840px;
    }


    .blocks{
        height:200px;
        margin-top: 1500px;
        margin-right:300px;
        opacity:0.3;
    }

    #intro{
        font-size:5rem;
        font-weight: 800;
        color:black;
        margin:16vh auto;
        margin-bottom:22vh;
    }
    
    .tagline{
        display: inline-block;
        width:700px;
    }

}

@media only screen
and (min-device-width : 1680px) {
    
    .img-project{
        max-width: 760px;
    }

    .flex-box-wrap{
        margin-left:1.5rem;
    }

}
